<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Debuff</th>
    <th>Action</th>
  </tr>
  <tr *ngFor="let player of (playerService.getPlayers() | async)">
    <td>{{ player.id }}</td>
    <td>{{ player.name }}</td>
    <td>{{ player.debuff }}</td>
    <td><button pButton (click)="showDialogToEdit(player)" label="edit"></button></td>
  </tr>
</table>
<button pButton (click)="showDialogToAdd()" label="add"></button>
<p-dialog header="Player Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true">
  <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="player">
    <div class="ui-g">
      <div class="ui-g-4"><label for="id">ID</label></div>
      <div class="ui-g-6"><input pInputText id="id" [(ngModel)]="player.id" [disabled]="disabledInput" /></div>
    </div>
    <div class="ui-g">
      <div class="ui-g-4"><label for="name">Name</label></div>
      <div class="ui-g-6"><input pInputText id="name" [(ngModel)]="player.name" /></div>
    </div>
    <div class="ui-g">
      <div class="ui-g-4"><label for="debuff">Debuff</label></div>
      <div class="ui-g-6"><input pInputText id="debuff" [(ngModel)]="player.debuff" [disabled]="disabledInput" /></div>
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
      <button *ngIf="!newPlayer" type="button" pButton icon="fa-close" (click)="onRemoveClick()" label="Delete"></button>
      <button *ngIf="!newPlayer" type="button" pButton icon="fa-check" (click)="onSaveClick()" label="Save"></button>
      <button *ngIf="newPlayer" type="button" pButton icon="fa-check" (click)="onAddClick()" label="Add"></button>
    </div>
  </p-footer>
</p-dialog>
<p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425"></p-confirmDialog>
