<select name="language" [ngModel]="language"
        (ngModelChange)="setLanguage($event)">
  <option
    *ngFor="let langProperty of [['en','English'],['de','Deutsch']]"
    [ngValue]="langProperty[0]">
    {{langProperty[1]}}
  </option>
</select>
<h1>
  {{'HOME.PLAYERS' | translate}}
</h1>
<app-players></app-players>
<h1>
  {{'HOME.SETTINGS' | translate}}
</h1>
<app-settings></app-settings>
<h1>
  {{'HOME.RAIDS' | translate}}
</h1>
<app-raids></app-raids>
<h1>
  {{'HOME.EVENTS' | translate}}
</h1>
<app-events></app-events>
